<section ng-model="heroes">
  <div id="container" >
    <h2>SuperHero List</h2>
    <table id="tableInfo" class="table">
      <tr id="table-data">
        <th>Name</th>
        <th>Description</th>
        <th>persona</th>
      </tr>
      <tr ng-repeat="hero in heroes.data ">
        <td>{{hero.persona}}</td>
        <td>{{hero.alias}}</td>
        <td>{{hero.power_id}}</td>
        <td>
    <button type="submit" class="btn btn-danger" ng-click="super_powers.deletePower(hero)">DELETE</button>
  </td>
  </tr>


  </table>



</section>
